body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
}

input, button {
  padding: 10px;
  margin: 10px;
}

.hidden {
  display: none;
}

#grid {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 10px;
  justify-content: center;
}

.box {
  width: 60px;
  height: 60px;
  background: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}