body {
  margin: 0;
  font-family: Arial;
  background: #020617;
  color: white;
  text-align: center;
}

h1 { color: gold; }

input, button {
  padding: 12px;
  margin: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: gold;
  cursor: pointer;
}

.hidden { display: none !important; }

#grid {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.box {
  width: 70px;
  height: 70px;
  background: #1e293b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: transform 0.2s, background 0.3s;
}

/* click animation */
.box:active {
  transform: scale(0.85);
}

/* reveal animation */
.box.open {
  animation: reveal 0.3s ease;
}

@keyframes reveal {
  from { transform: scale(0.5); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.room-item {
  background: #1e293b;
  margin: 10px auto;
  padding: 10px;
  width: 260px;
  border-radius: 8px;
  cursor: pointer;
}

.room-item:hover {
  background: gold;
  color: black;
}